{% extends "baseDashboardMovie.html" %}

{% block content %}

      <h1>Movies</h1> <br/>
        <u1>
          {% for movie in movie_list%}

          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">{{movie}}</h5>
            </div>
            <div class="card-footer text-muted">
              
              <a href="{% url 'delete-movie' movie.mediaID %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
            </div>
          </div>

    {%endfor%}
{% endblock %}